/* Import */
@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

/* Variables */
:root {
  --background: #252827;
  --color-primary: #004ffc;
  --color-light: white;
  --color-dim: #6c6d6d;
  --spacing: 50px;
  --radius: 4px;
  --date: 120px;
  --dotborder: 4px;
  --dot: 11px;
  --line: 4px;
  --font-title: 'Saira', sans-serif;
  --font-text: 'Chivo', sans-serif;
}

/* Base */
/* body {
  background: var(--background);
  font-size: 16px;
}

p {
  font-weight: 300;
}

a { 
  color: var(--color-dim);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  letter-spacing: .3em;
  font-size: .6em;
  font-weight: 400;
  background: #252727;
  padding: .3rem 1rem;
  margin: 1.9rem 0 0 0;
  float: right;
}

a:hover { 
  color: var(--color-light);
  background: var(--color-primary);
  border-bottom: .35em solid black;
}

strong {
  font-weight: 600;
}

h1 {
  font-family: var(--font-title);
  letter-spacing: 1.5px;
  color: var(--color-light);  
  font-weight: 400;
  font-size: 2.4em;
} */

#timeline-content {
  margin-top: var(--spacing);
  text-align: center;  
}

/* Timeline */
.timeline {
  border-left: var(--line) solid var(--color-primary);
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);    
  background: rgba(18, 31, 60, 0.173);
  color: rgba(255, 255, 255, 0.873);
  font-family: var(--font-text);  
  margin: var(--spacing) auto;  
  letter-spacing: 0.5px;   
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;   
  padding: var(--spacing);   
  list-style: none;
  text-align: left;  
  font-weight: 100; 
  min-width: 250px;
  max-width: 60%; 
  
  

}
  .timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: calc(var(--spacing) * 0.5);
    margin-bottom: var(--spacing);  
    position: relative;
  }

    .event:last-of-type { 
      padding-bottom: 0;
      margin-bottom: 0; 
      border: none;      
    }

    .event:before, .event:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .event:before {
      left: calc(((var(--date) * 0.6) + var(--spacing) + var(--line) + var(--dot) + (var(--dotborder) * 2)) * 1.5 * -1);    
      color: rgba(255, 255, 255, 0.4);    
      content: attr(data-date);
      text-align: right;
      font-weight: 100;    
      font-size: 0.9em;
      min-width: var(--date);
      font-family: var(--font-title);
    }

    .event:after {
      box-shadow: 0 0 0 var(--dotborder) rgba(0, 79, 252, 1);    
      left: -60px;   
      background: rgba(35, 39, 45, 1);    
      border-radius: 50%;  
      height: var(--dot);
      width: var(--dot);
      content: "";
      top: 5px;
    }
  


.timeline h1 {
  font-family: var(--font-title);
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;    
}

.timeline h2, h3 {
  font-family: var(--font-title);
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.4em;
}