@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800;900&family=Truculenta:opsz,wght@12..72,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Indie+Flower&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Indie+Flower&family=Ojuju:wght@200..800&family=Orbitron&display=swap');

html,
body {
  overscroll-behavior: none;
  
}
.main-font{
  font-family: Orbitron , sans-serif;
}
.main-font1{
  font-family: "Ojuju", sans-serif;
  font-weight: 500;
  
}
.main-font2{
  font-family: Saira Stencil One, sans-serif;
  text-transform: uppercase;
}

body {
  /* font-family: Arial Black, sans-serif; */
  font-family:  Black Orbitron, sans-serif;
  text-align: center;
  /* background: url(/src/assets/mainbg.svg); */
  height: 100vh;
  overflow-x: hidden;
}

/* hero */

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 500px;
  width: 200vw;
  display: flex;
  flex-direction: row;
  position: relative;
  /* background-color: #161d3c; */
  justify-content: center;
  align-items: center;
}


.scroll-section,.scroll-section2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  color: #e3eeff;
  padding: 100px;
}
.info p {
  margin-top: 10px;
  letter-spacing: 2px;
}

.info hr {
  background-color: #000;
  border-color: #000;
  color: #000;
  height: 100px;
  opacity: 1;
}
.info2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
}
.attendees {
  height: 150px;
  width: 150px;
  background-color: wheat;
  -webkit-box-shadow: inset 0 0 40px 20px #32b2b8;
  box-shadow: inset 0 0 40px 20px #32b2b8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.startups {
  height: 150px;
  width: 150px;
  background-color: wheat;
  -webkit-box-shadow: inset 0 0 40px 20px #32b2b8;
  box-shadow: inset 0 0 40px 20px #32b2b8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.events {
  height: 150px;
  width: 150px;
  background-color: wheat;
  -webkit-box-shadow: inset 0 0 40px 20px #32b2b8;
  box-shadow: inset 0 0 40px 20px #32b2b8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stats div > p {
  font-size: 30px;
  font-family: "Truculenta", sans-serif;
  font-weight: 600;
}

.main {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  border: none;

}
.box {
  height: 100px;
  width: 100px;
  background-color: #072395;
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
}
.video {
  height: 350px;
  width: 500px;
  /* padding: 20px; */
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
@media only screen and (max-width: 1500px) {
  .scroll-section-inner{
    width: 100%;
  }
  .scroll-section2 {
    display: none;
    width: 0px;
  }
  .scroll-section2 .info2{
    display: none;
  }

}

/* agenda */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&family=Rubik:wght@300;400&family=Saira+Stencil+One&family=Tilt+Warp&display=swap");
body {
  background-color: #000;
  font-family: Poppins, sans-serif;
}
.agenda-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  /* background-color: #000; */
  padding: 100px 0;
}
.agenda-container .agenda-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
}
.agenda-container .agenda-header h1 {
  font-family: "Saira Stencil One", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.agenda-container .topbar {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}
.agenda-container .topbar .active {
  background-color: #89cff0;
  color: #000;
  border: none;
  outline: none;
}
.agenda-container .topbar button {
  width: 150px;
  height: 45px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #89cff0;
  outline: none;
  font-size: 18px;
  font-weight: 600;
}
.agenda-container .topbar #filter {
  color: #89cff0;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  right: 120px;
  top: 0;
}
.agenda-container .filter-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
.agenda-container .filter-buttons .filter {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.agenda-container .filter-buttons .filter label {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.agenda-container .filter-buttons .filter select {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  border-radius: 5px;
}
.agenda-container .filter-buttons .filter .search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 10px;
}
.agenda-container .filter-buttons .filter input {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
}
.agenda-container .agenda {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  margin-top: 30px;
  gap: 20px;
  position: relative;
}
.agenda-container .agenda .agenda-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #191f27;
  border-radius: 5px;
  padding: 20px;
  gap: 10px;
  border: 2px solid #272e39;
  position: relative;
}

.agenda-container .agenda .agenda-content .agenda-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.agenda-container .agenda .agenda-content .agenda-header p {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-color: #89cff0;
  padding: 8px 20px;
  border-radius: 8px;
}

.agenda-container .agenda .agenda-content .agenda-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.agenda-container .agenda .agenda-content .agenda-body .agenda-body-content {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-body-content
  .details {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
.agenda-container .agenda .agenda-content .agenda-body .agenda-body-content p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}
.vbar {
  height: 100%;
  min-height: 150px;
  width: 1px;
  background-color: #adb098;
}
.agenda-container .agenda .agenda-content .agenda-body .keywords-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-speakers-container,
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-speakers-container
  .agenda-speakers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-speakers-container
  .agenda-speakers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-speakers-container
  .agenda-speakers
  .agenda-speakers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 270px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #adb098;
  position: relative;
}
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-speakers-container
  .agenda-speakers
  .agenda-speakers-content
  a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 270px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #adb098;
  position: relative;
  text-decoration: none;
}
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-speakers-container
  .agenda-speakers
  .agenda-speakers-content
  img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-speakers-container
  .agenda-speakers
  .agenda-speakers-content
  .speaker-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 5px;
  background: linear-gradient(0deg, #061965 0%, rgba(0, 0, 0, 0) 50%);
}
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-speakers-container
  .agenda-speakers
  .agenda-speakers-content
  .type {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-speakers-container
  .agenda-speakers
  .agenda-speakers-content
  .name {
  color: #89cff0;
  font-size: 18px;
  font-weight: 500;
}
.agenda-container
  .agenda
  .agenda-content
  .agenda-body
  .agenda-speakers-container
  .agenda-speakers
  .agenda-speakers-content
  .designation {
  color: #fff;
  font-size: 14px;
}
#loading {
  color: #fff;
  font-size: 25px;
  margin-top: 30px;
}

/* navbar */
.navBar {
  display: "none";
  justify-content: "space-between";
  align-items: "center";
  height: "100px";
  width: "100vw";
  padding: "0px 20px";
}
.nav2 {
  display: "flex";
  justify-content: "space-evenly";
  align-items: "center";
  gap: "50px";
  color: wheat;
}
.nav2 p {
  cursor: pointer;
}
.agenda {
  cursor: "pointer";
  background: "red";
  height: "100px";
  width: "100px";
  color: "black";
}


/* teams */


.team_container {
  height: 500px;
  width: 100%;
  flex-wrap: wrap;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.wrapper .img-area,
.social-icons a,
.buttons button {
  border-radius: 35px;

  border-color: #061965;
  box-shadow: inset 5px 5px 16px #96b4c8, inset -5px -5px 16px #e0ffff;
}
.wrapper {
  position: relative;
  width: 290px;
  height: 170px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  transition: 0.1s;
}

.effect {
  position: absolute;
  height: 10px;
  width: 10px;
  padding: 30px;
  border-radius: 50%;
  transition: 0.4s;
  z-index: -2;
  margin-top: -90px;
}

.wrapper:hover .effect {
  border-radius: 10px;
  height: 330px;
  width: 280px;
  background: #1b222d;

  visibility: visible;
  margin-top: -10px;
  z-index: -1;
  border: 2px solid #303a47;
}

.wrapper .img-area {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  border-radius: 10%;
  transform: scale(1.3);
}
.wrapper:hover .img-area {
  transform: scale(1.05);
  border-radius: 50%;
}
.img-area .inner-area {
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}
.inner-area img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.wrapper .name {
  font-size: 23px;
  font-weight: 500;
  color: lavender;
  margin: 10px 0 5px 0;
  transform: translateY(-100px);
  transition: 0.5s;
  z-index: -1;
  visibility: hidden;
}
.wrapper:hover .name {
  transform: translateY(0px);
  visibility: visible;
}


.wrapper .about {
  color: white;
  font-weight: 400;
  font-size: 16px;
  transform: translateY(-120px);
  transition: 0.35s;
  z-index: -1;
  visibility: hidden;
}
.wrapper:hover .about {
  transform: translateY(0px);
  visibility: visible;
}
.wrapper .secname {
  position: absolute;
  transform: translateY(30px);
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: lavender;
  transition: 0.4s;
}
.wrapper:hover .secname {
  transform: translateY(100px);
  opacity: 0;
}

.wrapper .social-icons {
  margin: 15px 0 25px 0;
  transform: translateY(-150px);
  transition: 0.4s;
  z-index: -1;
  visibility: collapse;
  opacity: 0;
}
.wrapper:hover .social-icons {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}
.social-icons a {
  position: relative;
  height: 48px;
  width: 48px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: inset -2px -2px 6px #cac6f5, inset 2px 2px 4px #cac6f5;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  transform: scale(1.2);
}

.iconbeat {
  background: rgb(37, 36, 38);
  box-shadow: 0 8px 32px 0 #1e1e1e;
  backdrop-filter: blur(5.5px);
  height: 36px;
  width: 36px;
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.28);
  transition: all 0.1s ease;
}
.social-icons a:hover .iconbeat {
  transform: scale(1.05);
}




/* events */

.ec{
  width: 260px;
  height: 285px;
  background: #161b22;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: .2s ease-in-out;
  padding: 20px;
  overflow: hidden;
  position: relative;
  text-decoration: wavy;
  border: #202832 solid 2px;
}
.ec img{
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}
.econ {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d11177a;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
  box-sizing: border-box;
  transition: top 0.3s ease;
  opacity: 0;
  visibility: hidden;
  font-size: medium;
}
.ec:hover{

  transform: scale(1.05);
}
.ec:hover .econ {
  top: 0;
  opacity: 1;
  visibility: visible;
  transform: scale(1.05);
}
.event-button {
  transition: all 0.1s ease;
}

.event-button:hover{
  transform: scale(1.05);
}




/* speaker */
.speaker-card{

background: transparent;
display: flex;
width: 250px;
height: 290px;
background: #161b22;
justify-content: space-between;
align-items: center;
flex-direction: column;
position: relative;
cursor: pointer;
padding: 30px 10px;
border-radius: 10px;
overflow: hidden;
border: 2px solid #1e252e;
}
.speaker-card img{
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  background: #ffdf00;
  transition: .2s;
}

.name{
  font-size: 15px;
    line-height: 15px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    padding-top: 20px;
    margin: 0;
    z-index: 2;
    padding-bottom: 5px;
}

.designation {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #cded09;
  padding: 0;
  margin: 0;
  z-index: 2;
  text-align: center;
}


/* sponsor main */

.hero-container {
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-container .background {
  height: 100%;
  width: 100%;
  position: absolute;
  background: transparent;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-container .background .top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: auto;
  z-index: 1;
  filter: drop-shadow(16px 12px 26.8px rgba(0, 0, 0, .66));
  filter: contrast(110%)  brightness(50%);
}
.hero-container .background .bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 0;
  filter: drop-shadow(16px -17px 15px rgba(0, 0, 0, .54));
  filter: contrast(140%)  brightness(50%);
}
.hero-container .background .bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20%;
  z-index: 1;
  filter: contrast(110%)  brightness(70%);
  box-shadow: 0 4px 8px 0 #161b22c0, 0 6px 20px 0 rgba(255, 255, 255, 0);
 
  
  
}
.hero-container .reg-button {
  position: absolute;
  bottom: 80px;
  left: 30px;
  z-index: 1;
}
.header {
  color: #cded09;
  font-size: 20px;
  width: 100%;
}
.hero-container .reg-button .green {
  font-size: 45px;
  color: #22aaff;
  font-family: Saira Stencil One, sans-serif;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  margin: 0;
  padding: 0;
}
.hero-container .reg-button .white {
  font-size: 45px;
  color: #c0f9ee;
  font-family: Saira Stencil One, sans-serif;
  margin: 0;
  padding: 0;
}
.button {
  margin-top: 1rem !important;
}
.hero-container .reg-button .button button {
  background-color: #4288c5;
  color: #181b2d;
  font-size: 19px;
  padding: 10px 100px;
  font-weight: 900;
  border-radius: 3px;
}
.hero-container .logo {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  z-index: 1;
  width: 45%;
}
.hero-container .logo img {
  width: 100%;
  height: auto;
}